@model Turismall.Models.Viaje

@{
    ViewData["Title"] = "Detalles";
}

<div class="btn-group-justified">
    <div>
        <a asp-action="Index" class="btn btn-default" style="float:right; margin-top:20px"><span class="glyphicon glyphicon-remove" /></a>
        <img height="200" class="center-block" src="@Url.Content("~/DetallesDelViaje.png")" />
    </div>
</div>
<br />
<div class="btn-group-justified">
    <div class="col-md-9">
        <h4>@Html.DisplayFor(model => model.Nombre)</h4>
        @if (String.IsNullOrEmpty(@Model.Descripcion))
        {
            <p>No hay descripción.</p>
        }
        else
        {
            <p>@Html.DisplayFor(model => model.Descripcion)</p>
        }
    </div>

    <div class="col-md-3" style="text-align:right">
        @Html.ActionLink("Ver notas", "Index", new { Controller = "Nota", idViaje = Model.ID }, new { @class = "btn btn-default" })
        @Html.ActionLink("Agregar nota", "Create", new { Controller = "Nota", idViaje = Model.ID }, new { @class = "btn btn-default" })
    </div>
</div>
<br />
<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-pencil" /><font face="sans-serif"> Editar</font></a>

