@model Turismall.Models.Viaje

@{
    ViewData["Title"] = "Detalles";
}

<img height="200" class="center-block" src="@Url.Content("~/DetallesDelViaje.png")" />
<br />
<div>
    <h4>@Html.DisplayFor(model => model.Nombre)</h4>
    @if (String.IsNullOrEmpty(@Model.Descripcion))
        {
            <p>No hay descripción.</p>
    }
    else
    {
        <p>@Html.DisplayFor(model => model.Descripcion)</p>
    }
    @Html.ActionLink("Ver notas", "Index", new { Controller = "Nota", idViaje = Model.ID }, new { @class = "btn btn-default btn-sm pull-right" })
    @Html.ActionLink("Crear nota", "Create", new { Controller = "Nota", idViaje = Model.ID }, new { @class = "btn btn-default btn-sm pull-right" })
    <div class="col-md-2">
        <a asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" /><font face="sans-serif"> Volver</font></a>
    </div>
    <div class="col-md-10">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-pencil" /><font face="sans-serif"> Editar</font></a>
    </div>    
</div>

