@model Turismall.Models.Viaje

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @if (String.IsNullOrEmpty(@Model.Descripcion))
                {
                <h5>No hay descripción.</h5>
                } else
                {
                @Html.DisplayFor(model => model.Descripcion)
                }


        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
