@model IEnumerable<Turismall.Models.Viaje>
@using System.Linq

@{
    ViewData["Title"] = "Index";
}

<h2>Listado De Viajes</h2>

<table class="table table-hover">
    @if (!Model.Any())
    {
        <tr><td><h4>No se han creado viajes.</h4></td></tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-10">
                <h4>@Html.DisplayFor(modelItem => item.Nombre)</h4>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td class="col-md-2" style="text-align: right">
                <a asp-action="Edit" class="btn btn-default" asp-route-id="@item.ID"><span class="glyphicon glyphicon-pencil" /></a>
                <a asp-action="Details" class="btn btn-default" asp-route-id="@item.ID"><span class="glyphicon glyphicon-file" /></a>
                <a asp-action="Delete" class="btn btn-default" asp-route-id="@item.ID"><span class="glyphicon glyphicon-trash" /></a>
            </td>
        </tr>
    }
</table>

<a asp-action="Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus" /></a>