@model Turismall.Models.Nota

@{
    ViewData["Title"] = "Details";
}

<img height="200" class="center-block" src="@Url.Content("~/DetallesDeLaNota.png")" />
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd>
            <a asp-controller="Destino" asp-action="Details" asp-route-id="@Model.DestinoID">@ViewBag.Destino</a>
        </dd>   
    </dl>
</div>
@if (Model.Foto != null)
{
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="@Url.Content("~/" + Model.Foto)">
                <img border="0" alt="Imagen" src="@Url.Content("~/" + Model.Foto)" width="200" height="200">
            </a>          
        </div>
    </div>
}

<br />
<div>
    <div class="col-md-10">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-pencil" /><font face="sans-serif"> Editar</font></a>
    </div>
</div>
<div>
    @Html.ActionLink("Volver", "Index", new { Controller = "Nota", idViaje = Model.ViajeID }, new { @class = "btn btn-default btn-sm" })
</div>