@model Turismall.Models.Nota

@{
    ViewData["Title"] = "Details";
}

<div class="btn-group-justified">
    <div>
        <a href="@Url.Action("Index", new { Controller = "Nota", idViaje = Model.ViajeID })" class="btn btn-default" style="float:right; margin-top:20px"><span class="glyphicon glyphicon-remove" /></a>
        <img height="200" class="center-block" src="@Url.Content("~/DetallesDeLaNota.png")" />
    </div>
</div>
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd>
            <a asp-controller="Destino" asp-action="Details" asp-route-id="@Model.DestinoID">@ViewBag.Destino</a>
        </dd>   
    </dl>
</div>
@if (Model.Foto != null)
{
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="@Url.Content("~/" + Model.Foto)">
                <img border="0" alt="Imagen" src="@Url.Content("~/" + Model.Foto)" width="200" height="200">
            </a>          
        </div>
    </div>
}

<br />
<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-pencil" /><font face="sans-serif"> Editar</font></a>
