@model IEnumerable<Turismall.Models.Nota>

@{
    ViewData["Title"] = "Index";
}

<img height="200" class="center-block" src="@Url.Content("~/ListadoDeNotas.png")" />

<p>
    @Html.ActionLink("Crear nota", "Create", new { Controller = "Nota", idViaje = Model.Select(x => x.ViajeID).FirstOrDefault() }, new { @class = "btn btn-default btn-sm" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
            {
            <tr><td><h4>El viaje no posee notas.</h4></td></tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
