@model IEnumerable<Turismall.Models.Nota>

@{
    ViewData["Title"] = "Notas";
}


<img height="200" class="img-responsive center-block" src="@Url.Content("~/ListadoDeNotas.png")" />
<h3 style="text-align:center">@ViewBag.viaje</h3>

<p><a href="@Url.Action("Create", new { Controller = "Nota", idViaje = @ViewBag.idViaje })" class="btn btn-primary"><span class="glyphicon glyphicon-plus" /><font face="sans-serif"> Agregar</font></a></p>

<table class="table table-hover">
    @if (!Model.Any())
    {
        <tr><td><h4>El viaje no posee notas.</h4></td></tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-11">
                        <p style="max-width: 500px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis ">@Html.DisplayFor(modelItem => item.Texto)</p>
                    </div>
                    <div class="col-md-1" style="text-align: right">
                        <small>
                                @Html.DisplayFor(modelItem => item.Fecha)
                        </small>
                        
                    </div>
                </div>
                <div class="row col-md-12">
                    <a asp-action="Edit" class="btn btn-default" asp-route-id="@item.ID"><span class="glyphicon glyphicon-pencil" /><font face="sans-serif"> Editar</font></a>
                    <a asp-action="Details" class="btn btn-default" asp-route-id="@item.ID"><span class="glyphicon glyphicon-list" /><font face="sans-serif"> Detalles</font></a>
                    <a asp-action="Photo" class="btn btn-default" asp-route-id="@item.ID"><span class="glyphicon glyphicon-picture" /><font face="sans-serif"> Subir foto</font></a>
                </div>
            </td>
        </tr>
    }
</table>
