@model IEnumerable<Turismall.Models.Nota>

@{
    ViewData["Title"] = "Index";
}

<h2>Listado de notas</h2>

<p>
    <a asp-action="Create">Crear nota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
            {
            <tr><td><h4>El viaje no posee notas.</h4></td></tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
