@model IEnumerable<Turismall.Models.Nota>

@{
    ViewData["Title"] = "Index";
}

<img height="200" class="center-block" src="@Url.Content("~/ListadoDeNotas.png")" />
<h3 style="text-align:center">@ViewBag.viaje</h3>
<br/>

<table class="table table-hover">
    @if (!Model.Any())
    {
        <tr><td><h4>El viaje no posee notas.</h4></td></tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-10">
                <small>@Html.DisplayFor(modelItem => item.Fecha)</small>
                <h4 style="max-width: 500px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis ">@Html.DisplayFor(modelItem => item.Texto) </h4>
            </td>
            <td class="col-md-2" style="text-align: right">
                <a asp-action="Edit" class="btn btn-default" asp-route-id="@item.ID"><span class="glyphicon glyphicon-pencil" /></a>
                <a asp-action="Details" class="btn btn-default" asp-route-id="@item.ID"><span class="glyphicon glyphicon-file" /></a>
                <a asp-action="Photo" class="btn btn-default" asp-route-id="@item.ID"><span class="glyphicon glyphicon-picture" /></a>
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Agregar", "Create", new { Controller = "Nota", idViaje = @ViewBag.idViaje }, new { @class = "btn btn-default btn-sm" })
@Html.ActionLink("Volver", "Index", new { Controller = "Viaje"}, new { @class = "btn btn-default btn-sm" })